body{
    font-family: 微软雅黑;
    font-size: 62.5%;
}
a{
    text-decoration-line: none;
    color: #e63d3d;
}
.main{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #dddd;
}
.bg{
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 100%;
    opacity: 0.8;
}
.notFoundBg{
    background-color: #333333;
}
.products{
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 980px;
    vertical-align: middle;
    text-align: center;
    top: 20%;
    position: relative;
}
.products:after{
    content:".";
    clear:both;
    display:block;
    height:0;
    overflow:hidden;
    visibility:hidden;
}
.products li{
    float: left;
    width: 215px;
    height: 160px;
    line-height: 160px;
    font-size: 3em;
    font-weight: bold;
    color: #222222;
    background: rgba(232, 232, 232, 0.2);
    box-shadow: 0px 1px 2px #c3bfbf;
    text-shadow: 0px 1px 0px #fff;
    cursor: pointer;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
}
.products li a{
    height: 100%;
    width: 100%;
    display: block;
    color: #e63d3d;
    text-decoration-line: none;
}
.products li:hover{
    background: rgba(44, 118, 211, 0.2);
}
.products li:hover a {
    color: #f8fff7;
    text-shadow: 0px 1px 0px #333;
}
.products li:active{
    background: rgba(248, 61, 28, 0.2);
}
.products li:active a {
    color: #222222;
    text-shadow: 0px 1px 0px #fff;
}
.refresh{
    width: 60px;
    height: 60px;
    position: absolute;
    background: url("../img/refresh.png") no-repeat center center;
    background-size: 100%;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}
#noNote{
    display: inline-block;
    width: 200px;
    height: 60px;
    font-size: 2em;
    text-align: center;
    margin: 0 auto;
    margin-top: 500px;
    color: #555;
    line-height: 30px;
    font-weight: bold;
}